html {
    box-sizing: border-box;
    --purple: rgb(220, 194, 257);
    --blue: lightblue;
    --black:black;
    /* hover color = l-20% */
    --hover-blue: hsl(195, 53%, 59%);
    /* active color = l -30% */
    --active-blue: hsl(195, 53%, 29%);
    /* shadow color is read only -- need to change when final color detal is given */
    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-medium:
    0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    0.3px 1px 1.2px -0.8px hsl(var(--shadow-color) / 0.36),
    0.8px 2.6px 3.1px -1.7px hsl(var(--shadow-color) / 0.36),
    1.9px 6.3px 7.4px -2.5px hsl(var(--shadow-color) / 0.36);
    --cursive: 'Playball', cursive;
    --sans-serif: 'Ubuntu', sans-serif;
    font-size: 16px;

    /* collumn width 76 
    gutter width 16. 
    Columns 12 */
  }

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    width:100% ;
    font-family: var(--sans-serif);
}

.container,
.wrapper,
main,
.features-container,
.features-card,
.features-card__content,
.about-us.wrapper,
.about-us__devs,
.about-us__desgn,
.about-us__card,
footer
 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width:min(95%, 1104px);
    margin: auto;
}

header,
main,
section,
footer {
    width: 100%;
}

a,
a:visited {
    text-decoration: none;
    color: var(--black);
}

a:hover{
    color: var(--blue);
}

button,
.btn {
    background-color: var(--blue);
    outline: var(--black) solid 1px;
    border: none;
    font-family: var(--sans-serif);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
}

button:hover,
button:active,
.btn:hover,
.btn:active {
    background-color: var(--hover-blue);
    transition: 220ms all ease-in-out;
  }

button:focus,
.btn:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--active-blue);
  }

h1,
h2,
h3,
h4,
p {
    margin-block: 0;
    margin-inline: 0;
    margin:0;
    padding:0;
    width: fit-content;
}

h1 {
    font-family: var(--cursive);
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;

}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
}

header {
    display: flex;
    width: 100%;
    padding: 0em 2em 5em;
    background-color: var(--purple);
}

header .wrapper {
    display: inline-flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: stretch;
}

figure {
    display: inline;
    margin-block: 0;
    margin-inline: 0;
}

.logo img {
    aspect-ratio: 95 / 94;
    width: 75px;
    margin-top:1em;
}

nav .wrapper{
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    flex-direction: row-reverse;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    padding: 0em 1em;
}

/* about section */
.about-app {
    width: 100%;
    padding: 1em 1.5em;
    margin-bottom: 1 5em;
}
.about-app__colurs p {
 max-width: 65ch;
}

.about-app button {
    font-family: var(--sans-serif);
    width: max(92px, calc((5*16px) + (4*76px)));
    margin-top: 2rem;
}

/* tools and features */

.features {
    width: 100%;
    margin-top: 10rem;
}

.features-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.features-card {
    /* flex: 1 1 33%; */
    /* margin: 0em -2em; */
    padding: 1em;
}
.features-card__content em {
    font-size: 9px;
    color: rgb(220, 194, 257);
}
.features-card__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 12em;
}

.features-card__icons img {
    aspect-ratio: 1 / 1;
    width: 76px;
}

.features-card__content {
    width: auto;
    /* may change this later if too wide */
    padding: 1em;
    text-align: center;
}

.f-three {
    margin: 0em 5em;
}

/* try-app section */
.try-app {
    background-color: var(--purple);
    width: 100%;
}

.try-app h2 {
    padding: 2rem 0;
    /* margin: 5rem 0; */
}
.try-app iframe {
    margin-top: -12px;
}

.try-app figure {
    width: 100%;
    box-shadow: var(--shadow-elevation-medium);
}

.btn-container {
    width: min(100%, 920px);
    display:inline-flex;
    justify-content: space-evenly;
}

.demo-btn,
.tutorial-btn {
    font-family: var(--cursive);
}

/* about us styles */
.about-us {
    margin: 12rem 0;
}

.about-us__devs {
    flex-flow: row wrap;
    align-items: baseline;
}

.about-us__card {
    margin: 5em;
    max-width: 50%;
}

.about-us__img img{
    aspect-ratio: 1 / 1;
    width: 130px;
    border-radius: 60px;
}

.about-us__socials {
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top:1em;
    width: 100%;
}

.about-us__socials > a {
    margin: 0em 1em;
}


/* footer */
footer {
    background-color: var(--purple);
}


@media only screen and (min-width: 625px) {
    header .wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }
}